node_modules/
logs/
.data/

config.json
config.backup.*.json

database.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal

lavalink/lavalink_server.log
lavalink/Lavalink.jar.bak-*
lavalink/application.backup.*.yml

.DS_Store
